:root{
    --blue:	#007bff;
    --red:	#e4373d;
    --white: #ffffff;
    --gray: #c6cbc9;
    --dark_grey: #9999a0;
    --jumbotron_grey: #343a40;
}
.jumbotron{
    background-color: var(--jumbotron_grey);
    color: var(--white);
}
.m-0{
    max-width: 100%;
    padding-right: 0;
}