:root{
    --blue:	#007bff;
    --red:	#e4373d;
    --white: #ffffff;
    --gray: #c6cbc9;
    --dark_grey: #9999a0;
    --jumbotron_grey: #343a40;

    --uvLow: #00b050;
    --uvMedium: #ffff00;
    --uvHigh: #ff9933;
    --uvVeryHigh: #c00000;
    --uvExtremelyHigh: #d39dd3;
}
.jumbotron{
    background-color: var(--jumbotron_grey);
    color: var(--white);
}
.m-0{
    max-width: 100%;
    padding-right: 0;
}
.card-text:last-child{
    margin-bottom: 1rem;
}

.uvLow{
    background-color: var(--uvLow);
}
.uvMedium{
    background-color: var(--uvMedium);
}
.uvHigh{
    background-color: var(--uvHigh);
}
.uvVeryHigh{
    background-color: var(--uvVeryHigh);
}
.uvExtremelyHigh{
    background-color: var(--uvExtremelyHigh);
}

#uvIndexColor{
    /* width:20px; */

}